body {
    background-color: black;

}

h1{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    text-align: center;
}
h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    text-align: left;
}

h3{
    font-family: monospace;
    color: white;
    font-size: x-large;
    text-align: center;
}

h4{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: x-large;
    text-align: center;
}

h5{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: x-large;
    text-align: left;
    margin-left: 10%;
}

/*grouping*/
img{
    display: block;
    width: 100%;
    margin-right: auto;
}
.picture{
    border-radius: 50%;
    width: 80%;
}

.picture1{
    border-radius: 15%;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.second{
    float: left;

}


.centerText {
    text-align: center;
}
/*This is the Header and Navagtion Bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover:not(.active) {
    background-color: #af0f20;
}

.active {
    background-color: #0e16af;

}

/*Nesting*/
#innerDiv {
    background-color: black;
    padding: 1em;
    width: auto;
}

#innerDiv h1 {
    color: yellow;
    text-align: center;
}

#innerDiv p {
    color: red;
    font-weight: bold;
    text-align: center ;
    font-size: large;
    text-decoration: underline;
}

h6{
    text-align: center;
    font-size: larger;
    color: white;

}



footer {
    text-align: center;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color:white ;
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;

}